/* 
    Document   : style
    Created on : 10-May-2013, 2:10:20 PM
    Author     : crdc
    Description:
        Purpose of the stylesheet follows.
*/
.lg_scrollingTable{height: 100px; overflow: auto;}

 #courseList{width: 280px;}

.latestGradesHeader{cellspacing:1; width:100%;}

.latestGradesHeader .lg_left_th{text-align: left;}

.latestGradesHeader .lg_right_th{text-align: right;}

.latestGradesBody{cellspacing:1; width:100%;}

.latestGradesBody .left_td{text-align: left;}

.latestGradesBody .right_td{text-align: right;}



